* {
  margin: 0;
  box-sizing: border-box;
  color: white;
  font-family: proxima-nova, sans-serif;
}

html {
  scroll-behavior: smooth;
}

nav {
  width: 100%;
  height: 85px;
  line-height: 85px;
  background-color: #0006;
  position: fixed;
  top: 0;
}

nav img {
  margin-left: 4em;
}

nav ul {
  float: right;
  margin-right: 2em;
}

nav ul li {
  list-style: none;
  display: inline-block;
  transition: 0.8s all;
}

nav ul li a {
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 700;
  padding: 2em;
}

nav ul li:hover {
  background-color: #1DB954;
  border-bottom: 3px solid rgb(68, 226, 123)
}

.reslogo {
  display: none;
}

@media screen and (max-width: 950px) {
  nav {
    background-color: black;
    height: 60px;
    line-height: 60px;;
  }
  .logo {
    display: none;
  }
  .reslogo {
    display: inline-block;
  }
  nav ul li a {
    padding: 1em;
  }
}

@media screen and (max-width: 650px) {
  .reslogo {
    display: none;
  }
  nav {
    margin:0 auto;
  }
  nav ul {
    clear: right;
  }
  nav ul li {
    margin-right: 2.5em;
  }
}

section {
  width: 100%;
  height: 100vh;
  background: url(serialized.png) no-repeat top center;
  background-size: cover;
}

#serial {
  width: 100%;
  height: 100vh;
  background: url(serialized.png) no-repeat top center;
  background-size: cover;
}

section:nth-child(odd) {
  background-color: gray;
}





